<footer class="footer">
  <a href="../index.html">
    <img src="../img/logo.svg" alt="logo" width="84" height="36" />
  </a>

  <ul>
    <li>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="24" height="24">
          <use href="../img/icon-footer.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="24" height="24">
          <use href="../img/icon-footer.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
        <svg width="24" height="24">
          <use href="../img/icon-footer.svg#icon-x"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="24" height="24">
          <use href="../img/icon-footer.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg width="24" height="24">
          <use href="../img/icon-footer.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <nav>
    <ul>
      <li><a href="#about-us">About us</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <p>© 2025 Handmade Jewelry. All rights reserved.</p>
</footer>
