<header id="header" class="page-header">
  <div class="container header-container">
    <a href="./index.html" class="title"
      ><svg class="logo" width="160" height="68">
        <use href="/img/logo.svg"></use></svg
    ></a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="#about" class="nav-link">About us</a>
        </li>
        <li>
          <a href="#benefits" class="nav-link">Benefits</a>
        </li>
        <li>
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>
        <li>
          <a href="#testimonials" class="nav-link">Testimonials</a>
        </li>
        <li>
          <a href="#contacts" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-actions">
      <button type="button" class="button header-btn">Order Now</button>
      <button type="button" class="mobile-menu-open-btn">
        <svg class="mobile-menu-open-icon" width="24" height="24">
          <use href="/img/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
