<div class="mobile-menu" id="mobile-menu">
    <div class="container mobile-menu-container">
        <div class="mobile-menu-header">
            <a href="./index.html" class="title"><svg class="mobile-logo" width="84" height="36">
                    <use href="/img/logo.svg"></use>
                </svg></a>
            <button type="button" class="mobile-menu-close-btn">
                <svg class="mobile-menu-close-icon" width="24" height="24">
                    <use href="/img/icons.svg#close"></use>
                </svg>
            </button>
        </div>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li>
                    <a href="#about" class="mobile-menu-link">About us</a>
                </li>
                <li>
                    <a href="#benefits" class="mobile-menu-link">Benefits</a>
                </li>
                <li>
                    <a href="#gallery" class="mobile-menu-link">Gallery</a>
                </li>
                <li>
                    <a href="#testimonials" class="mobile-menu-link">Testimonials</a>
                </li>
                <li>
                    <a href="#contacts" class="mobile-menu-link">Contacts</a>
                </li>
            </ul>
            <button type="button" class="mobile-order-btn">Order Now</button>
        </nav>
    </div>
</div>