.footer {
  background-color: #ffffff;
  padding: 80px 0 64px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 342px;
  gap: 32px;
}

.footer-logo {
  display: inline-flex;
}

.footer-logo img {
  width: 84px;
  height: 36px;
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111111;
  transition: opacity 0.25s linear;
}

.footer-socials a:hover,
.footer-socials a:focus {
  opacity: 0.7;
}

.footer-nav {
  width: 304px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-list a {
  color: #111111;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.25s linear;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: #8668c7;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 32px;
  text-align: center;
  color: #333333;
  font-size: 14px;
}

@media screen and (max-width: 1439px) {
  .footer {
    padding: 64px 32px;
  }

  .footer-container {
    gap: 64px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  .footer-column {
    align-items: center;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
  }

  .footer-nav-list {
    align-items: center;
    text-align: center;
  }

  .footer-credits {
    align-items: center;
    text-align: center;
  }
  .footer-logo img {
    width: 342px;
    height: 146px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0;
  }

  .footer-container {
    gap: 64px;
  }

  .footer-content {
    gap: 64px;
  }

  .footer-column,
  .footer-nav {
    width: 100%;
  }

  .footer-logo img {
    width: 217px;
    height: 93px;
  }
}
