.testimonials {
  background-color: #fff;
}

.testimonials .container {
  width: 100%;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 335px;
}

/*  */

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.testimonials-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

.testimonials-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* Card content*/

.testimonials-card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  box-sizing: border-box;
}

/* Stars */
.stars {
  display: flex;
  gap: 4px;
  width: 136px;
  margin-bottom: 24px;
}

.star.filled {
  fill: #000;
}

.star.outline {
  fill: none;
  stroke: #000;
}

/* Quote and Author*/

.quote {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.author-name {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .testimonials-content {
    max-width: 768px;
    margin: 0 auto 40px;
  }

  .testimonials .section-title,
  .testimonials .section-text {
    max-width: 100%;
  }

  .testimonials-list {
    align-items: stretch;
  }

  .testimonials-item {
    flex-direction: row;
    max-width: none;
    width: 100%;
    gap: 24px;
  }

  .testimonials-img {
    flex: 0 0 203px;
    width: 203px;
    height: 260px;
    object-fit: cover;
  }

  .author-name {
    margin-top: auto;
  }

  .testimonials-item:nth-child(2) .card-2 {
    order: -1;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .testimonials-content {
    margin-bottom: 80px;
  }

  .testimonials .section-title {
    font-size: 42px;
  }

  .testimonials-list {
    gap: 32px;
  }

  .testimonials-item {
    gap: 32px;
  }

  .testimonials-img {
    flex: 0 0 304px;
    width: 304px;
  }

  .testimonials-card {
    flex: 1;
    width: auto;
  }
}
